$blue: #1cb9d0;
$green: #88d317;
$dark-blue: #1452b7;
$light-blue: #2ce3f7;
$light-grey: #c3c6cc;
$dark-grey: #424242;
$darker-grey: #1A1A1A;
$black: #131418;

// reset

html, body, section, h1, h2, h3, p, a, ul, li, nav, button, input {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  color: inherit;
	vertical-align: baseline;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: sans-serif;
  color: $light-grey;
}

button {
  cursor: pointer;
}

// header

nav {
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  padding: 10px 20px 10px 20px;
  margin-bottom: 2px;
  background-color: $black;
  color: $light-grey
}

nav a {
  padding: 0px 8px 0px 8px;
  cursor: pointer;
}

.unselected-button {
  border-top: 1px solid $dark-grey;
  border-left: 1px solid $dark-grey;
  border-bottom: 2px solid $dark-grey;
  border-right: 2px solid $dark-grey;
  border-radius: 4px;
  color: $light-grey;
  background-color: $black;
  padding: 4px 8px 4px 8px;
  margin-right: 8px;
  font-size: 16px;
  width: 120px;
  height: 40px;
  font-family: inherit;
  cursor: pointer;
  outline: none;
}

.selected-button {
  border: 1px solid $blue;
  border-radius: 4px;
  color: $light-grey;
  background-color: white;
  padding: 4px 8px 4px 8px;
  margin-right: 8px;
  font-size: 16px;
  width: 120px;
  height: 40px;
  font-family: inherit;
  cursor: pointer;
  outline: none;
}

.nav-button {
  border: 1px solid $light-grey;
  border-radius: 4px;
  color: $light-grey;
  background-color: $black;
  padding: 4px 8px 4px 8px;
  margin-right: 8px;
  font-size: 15px;
  font-family: inherit;
  cursor: pointer;
  outline: none;
}

.search {
  margin: 0px;
  height: 20px;
  width: 200px;
  border: 1px solid $light-grey;
  border-radius: 10px;
  font-size: 12px;
  outline: none;
}

input, label {
  margin: 10px;
}

form {
  text-align: center;
  padding: 10px;
}

input {
  border: 1px solid $light-grey;
  border-radius: 5px;
  padding-left: 10px;
}

.account-message {
  color: $black;
  font-size: 15px;
}

.account-message a, span {
  margin-top: 20px;
  color: $light-grey;
  text-align: center;
}

.account-message span {
  padding-right: 10px;
}

.button {
  border: none;
  background-color: $dark-grey;
  color: $light-grey;
  padding: 10px 20px 10px 20px;
  font-size: 12px;
  font-family: inherit;
  border-bottom: 2px solid $darker-grey;
  border-right: 2px solid $darker-grey;
  outline: none;
}

// sidebar

.sidebar {
  background: image-url("sidebar2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  text-align: center;
  overflow: scroll;
  color: $light-grey;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.sidebar-detail {
  background: image-url("sidebar.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  text-align: center;
  overflow: scroll;
  color: $light-grey;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

i {
  padding-right: 10px;
}

.address {
  font-size: 14px;
}

.bar-name {
  padding-top: 20px;
  font-size: 20px;
}

.comments {
  background-color: $black;
  padding: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.comments ul li {
  padding: 8px;
  font-size: 12px;
  border-bottom: .1px solid $dark-grey;
}

.comments span {
  padding-right: 15px;
  font-style: italic;
  color: #dcf0f2;
}

.sidebar-detail img {
  width: 100%;
  height: auto;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.tag-list li {
  padding: 10px;
}

.tag-list {
  padding: 10px;
}

.click-info {
  padding: 15px;
  padding-top: 40px;
}

.comment-button {
  margin: 25px 0 25px 0;
  outline: none;
}

.comment-spacing {
  height: 10px;
}

.stars {
  max-width: 100px;
  margin: 0 auto;
  padding: 20px 0 0 0;
}

.rating-message {
  font-size: 14px;
}

.delete-button {
  padding-left: 10px;
  cursor: pointer;
}

// login/signup

div.account-form {
  background-color: $black;
  // height: 350px;
  padding: 40px 40px 40px 40px;
}

.account-form h1 {
  font-size: 22px;
  margin-bottom: 10px;
}

.form-input {
  background-color: $black;
  // padding: 20;
  border: none;
  border-bottom: 1px solid $dark-grey;
  text-align: center;
}

.errors {
  color: red;
  padding-top: 15px;
  padding-bottom: 15px;
}

.form-submit {
  margin: 25px;
  font-size: 15px;
}

#logo {
  font-size: 20px;
}

// desktop
@media only screen and (min-width: 768px) {
  .map {
    height: 94vh;
    float: right;
    width: 66.6%;
  }

  .sidebar {
    height: 94vh;
    width: 33.33%;
  }

  .sidebar-detail {
    height: 94vh;
    width: 33.33%;
  }

  // header
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
  }

  .account-form {
    position: absolute;
    background-color: white;
    padding: 20px;
    width: 300px;
    height: auto;
    top: 50%;
    margin-top: -163px;
    right: 33%;
    margin-right: -172px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  }
}



// mobile
@media only screen and (max-width: 767px) {
  .map {
    height: 300px;
  }

  .sidebar {
    height: 100%;
  }

  // header
  nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  #logo {
    order: 1;
    margin-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
  }

  .search-container {
    order: 3;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 10px;
  }

  .links {
    order: 2;
    justify-content: flex-end;
  }

  .account-form {
    position: absolute;
    background-color: white;
    padding: 15px;
    width: 280px;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    border-radius: 5px;
  }

  .account-form i {
    display: none;
  }
}
