$blue: #1cb9d0;
$dark-blue: #1452b7;
$light-blue: #2ce3f7;
$light-grey: #c3c6cc;

// reset

html, body, section, h1, h2, h3, p, a, ul, li, nav, button, input {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  color: inherit;
	vertical-align: baseline;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Ubuntu', sans-serif;
  color:  $blue;
}

button {
  cursor: pointer;
}

// header

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  padding: 0px 15px 0px 15px;
  margin-bottom: 2px;
}

nav a {
  padding: 0px 8px 0px 8px;
}

.nav-button {
  border: 1px solid $blue;
  border-radius: 4px;
  color: $blue;
  background-color: white;
  padding: 4px 8px 4px 8px;
  margin-right: 8px;
  font-size: 15px;
  font-family: inherit;
  cursor: pointer;
}

.search {
  margin: 0px;
  height: 20px;
  width: 200px;
  border: 1px solid $light-grey;
  border-radius: 10px;
  font-size: 12px;
  outline: none;
}

input, label {
  margin: 10px;
}

form {
  text-align: center;
  padding: 10px;
}

input {
  border: 1px solid $light-grey;
  border-radius: 5px;
  padding-left: 10px;
}

.account-message {
  color: black;
  font-size: 15px;
}

.account-message a {
  color: $blue;
}

.button {
  border: none;
  background-color: $blue;
  color: white;
  padding: 5px 8px 5px 8px;
  font-size: 12px;
  font-family: inherit;
  border-bottom: 1px solid #587cb5;
  border-right: 1px solid #587cb5;
}

// sidebar

.sidebar {
  background-color: $blue;
  color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  text-align: center;
  overflow: scroll;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

i {
  padding-right: 10px;
}

.address {
  font-size: 14px;
}

.bar-name {
  padding-top: 20px;
  font-size: 20px;
}

.comments ul li {
  padding: 8px;
  font-size: 12px;
  border-top: 1px solid $light-grey;
}

.comments span {
  padding-right: 15px;
  font-style: italic;
  color: #dcf0f2;
}

.sidebar img {
  width: 100%;
  height: auto;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.tag-list li {
  padding: 10px;
}

.tag-list {
  padding: 10px;
}

.click-info {
  padding: 15px;
  padding-top: 40px;
}

.comment-button {
  margin: 25px 0 25px 0;
}

.comment-spacing {
  height: 10px;
}

.stars {
  max-width: 100px;
  margin: 0 auto;
  padding: 20px 0 0 0;
}

.rating-message {
  font-size: 14px;
}

.delete-button {
  padding-left: 10px;
  cursor: pointer;
}

// login/signup

.account-form {
  padding: 20px;
  position: absolute;
  width: 300px;
  height: auto;
  background-color: white;
  top: 50%;
  margin-top: -163px;
  right: 33%;
  margin-right: -200px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.account-form h1 {
  font-size: 22px;
}

.errors {
  color: red;
  padding: 15px;
}

.form-submit {
  margin: 25px;
  font-size: 15px;
}

.logo {
  font-size: 20px;
}

// mobile
@media only screen and (max-width: 767px) {
  .map {
    height: 300px;
  }

  .sidebar {
    height: 100%;
  }
}

// desktop
@media only screen and (min-width: 768px) {
  .map {
    height: 94vh;
    float: right;
    width: 66.6%;
  }

  .sidebar {
    height: 94vh;
    width: 33.33%;
  }
}
